.git
.gitignore
.omp
node_modules
**/node_modules
dist
**/dist
target
**/target
release-artifacts
*.bundle
*.tar
*.tar.gz
*.zip
*.patch
*.log
secrets.yml
.sops.yaml
.env
.env.*
packages/e2e/cli-all-commands-results.json
